@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-loader {
  width:22.5px;
  height:15px;
  background-color: white;
  margin-right: 10px;
  --c:linear-gradient(rgb(107 114 128) 0 0);
  background: 
    var(--c) 0%   100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  background-size:4.5px 100%;
  background-repeat: no-repeat;
  animation:b2 1s infinite linear;
}
@keyframes b2 {
    20% {background-size:4.5px 60% ,4.5px 100%,4.5px 100%}
    40% {background-size:4.5px 80% ,4.5px 60% ,4.5px 100%}
    60% {background-size:4.5px 100%,4.5px 80% ,4.5px 60% }
    80% {background-size:4.5px 100%,4.5px 100%,4.5px 80% }
}

.drawer {
  @layer background-color: white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #2d2d2d;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
